maingit.json
{
  "name": "maingit",
  "nodes": [
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "1478769396196442153",
          "mode": "list",
          "cachedResultName": "GItty",
          "cachedResultUrl": "https://discord.com/channels/1478769396196442153"
        },
        "channelId": {
          "__rl": true,
          "value": "1478769396196442156",
          "mode": "list",
          "cachedResultName": "the-guy",
          "cachedResultUrl": "https://discord.com/channels/1478769396196442153/1478769396196442156"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -400,
        224
      ],
      "id": "a1427d3d-63d8-4b57-b70d-5ae93f68b16f",
      "name": "Get many messages",
      "webhookId": "2055d174-0bbe-4c7a-a33c-d31846cea59e",
      "credentials": {
        "discordBotApi": {
          "id": "iA9GreN6MIVvmz97",
          "name": "Discord Bot account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7132f5e1-7cbe-48cd-992b-585f754c5ef3",
              "leftValue": "={{ $json.content }}",
              "rightValue": "!savestreak",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        224
      ],
      "id": "cd286710-658a-4ad5-aae3-845a5ae97d43",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "NibinBijuCheriyan",
          "mode": "list",
          "cachedResultName": "NibinBijuCheriyan",
          "cachedResultUrl": "https://github.com/NibinBijuCheriyan"
        },
        "repository": {
          "__rl": true,
          "value": "gitty",
          "mode": "list",
          "cachedResultName": "gitty",
          "cachedResultUrl": "https://github.com/NibinBijuCheriyan/gitty"
        },
        "filePath": "streak.txt",
        "fileContent": "=={{ $now }}\n",
        "commitMessage": "chore: n8n automated streak save"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b41a7256-59ef-440e-b2fa-a191130a15df",
      "name": "Edit a file",
      "webhookId": "1742f7d8-2f76-42ad-9b8b-ff2fe08700e0",
      "credentials": {
        "githubOAuth2Api": {
          "id": "kY1221f9nBEHvdb6",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "deleteMessage",
        "guildId": {
          "__rl": true,
          "value": "1478769396196442153",
          "mode": "list",
          "cachedResultName": "GItty",
          "cachedResultUrl": "https://discord.com/channels/1478769396196442153"
        },
        "channelId": {
          "__rl": true,
          "value": "1478769396196442156",
          "mode": "list",
          "cachedResultName": "the-guy",
          "cachedResultUrl": "https://discord.com/channels/1478769396196442153/1478769396196442156"
        },
        "messageId": "={{ $('Get many messages').item.json.id }}"
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "41ec7532-522d-4a8b-8342-b25dfdd18456",
      "name": "Delete a message",
      "webhookId": "d5cdb623-5234-4ef6-8a1a-6ba6521fec5b",
      "credentials": {
        "discordBotApi": {
          "id": "iA9GreN6MIVvmz97",
          "name": "Discord Bot account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1478769396196442153",
          "mode": "list",
          "cachedResultName": "GItty",
          "cachedResultUrl": "https://discord.com/channels/1478769396196442153"
        },
        "channelId": {
          "__rl": true,
          "value": "1478769396196442156",
          "mode": "list",
          "cachedResultName": "the-guy",
          "cachedResultUrl": "https://discord.com/channels/1478769396196442153/1478769396196442156"
        },
        "content": "✅ Commited successfully! Streak is safe for today.",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "70016e72-ca29-46ad-b65e-017745c78058",
      "name": "Send a message",
      "webhookId": "46f32f22-a183-4b4e-a354-a5757170983b",
      "credentials": {
        "discordBotApi": {
          "id": "iA9GreN6MIVvmz97",
          "name": "Discord Bot account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        224
      ],
      "id": "60bec875-3bf4-4bbb-a727-008e93722a38",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many messages": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Delete a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3279308e-00f4-4cda-bc4e-46618aed9c4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0ac2082165c26e8d32ef0dde00ee017af5d0f46cf70ba08de72a9c4ccae96700"
  },
  "id": "frtyRrzfpisFRb6M",
  "tags": []
}